<div class="row align-items-center" style="min-height: 100vh">
  <div class="col-md-6 offset-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">TIPO INSTANCIA</th>
              <th scope="col">IP</th>
              <th scope="col">NOMBRE INSTANCIA</th>
              <th scope="col">ESTADO</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instance of instances">
              <th scope="row">{{instance.id}}</th>
              <td>{{instance.typeInstance}}</td>
              <td>{{instance.ip}}</td>
              <td>{{instance.nameInstance}}</td>

              <td *ngIf="instance.status==1">DISPONIBLE</td>
              <td *ngIf="instance.status==0">NO DISPONIBLE</td>
              <td *ngIf="instance.status==1"><button type="button" class="btn btn-outline-success p-0"
                  (click)="openModalProgress(instance,load,modalInstance)" data-toggle="tooltip" data-placement="bottom"
                  title="VER REPORTE">
                  <mat-icon>visibility</mat-icon></button></td>
              <td *ngIf="instance.status==0"></td>
            </tr>


          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<!-- ------------------------MODAL LOAD------------------------------------- -->
<ng-template #load let-load>
 
<div class="modal-body text-center ">
  <h2 class=" mt-3 ">VALIDANDO INSTANCIAS</h2>
  <img src="../../../assets/images/loading3.gif" width="70px">
 </div>

</ng-template>

<!-- ------------------------MODAL REPORT------------------------------------- -->
<ng-template #modalInstance let-modalInstance>
  <div class="modal-header">

    <h2 class=" mt-3 ">REPORTE: {{"("+instance.ip+")   "+instance.nameInstance}}</h2>


    <div class="row justify-content-end">
      <button type="button" class="btn-close float-right m-2 mt-0"  (click)="closeModal()"></button>
    </div>

  </div>
  <div class="modal-body ">
<div class="row">
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded" >
      <div class="card-body text-center">
       <h3><b>INSTACIAS ESTADO GOOD: {{repEstGoog.length}}</b></h3>
       <button type="button" class="btn btn-success" (click)="exportPdf('Good')">EXPORTAR REPORTE</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded" >
      <div class="card-body text-center">
        <h3><b>INSTANCIAS ESTADO DISABLED: {{repEstDisabled.length}}</b></h3>
        <button type="button" class="btn btn-warning" (click)="exportPdf('Disabled')">EXPORTAR REPORTE</button>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded" >
      <div class="card-body text-center">
        <h3> <b>INSTACIAS ESTADO ERROR: {{repEstError.length}}</b></h3>
        <button type="button" class="btn btn-danger" (click)="exportPdf('Error')">EXPORTAR REPORTE</button>
      </div>
    </div>
  </div>
</div>



  </div>

</ng-template>